body {
  background-color: #1f1f1f;
  font-family: Arial, sans-serif;
  background-image: url('centro-cidade.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
}

#game {
  background-color: #ffffff;
  color: #1f1f1f;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 750px;
  margin-top: 240px;
}

#stats,
#controls,
#monsterStats {
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #feac32;
  border-radius: 5px;
}

.stat {
  margin-right: 10px;
}

button {
  cursor: pointer;
  color: #ffffff;
  background-color: #feac32;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  transition: background-color 0.3s;
  display: inline-block;

}

button:hover {
  background-color: #ffcc4c;
}